@media screen and (max-width: 767px) {
        section {
            margin-bottom: $section-mobile-margin;
        }

        h6, .h6 {
            font-size: 16px;
        }

        .btn:not(.btn-arrow),
        .btn.btn-secondary:not(.btn-arrow) {
            font-size: 16px;
            padding: 15.5px 35px;
        }

        .banner {
            .btn-row {
                margin-bottom: 36px;
            }

            &-advantage__title {
                font-size: 42px;
                margin-bottom: 4px;
            }
            &-advantage__description {
                font-size: 14px;
            }

            &-advantage {
                width: 82px;
            }
        }

        .label {
            --size: 82px;
            
            font-size: 18px;
        
            &.label_text-large {
                font-size: 24px;
            }
        
            &.label_sm {
                --size: 82px;
                font-size: 18px;
            }
        }

        .advantages {
            flex-direction: column;
            max-width: 260px;
            margin: 0 auto $section-mobile-margin;
            padding: 32px 42px;
            border-radius: 26px;
        }
        
        .advantage {
            &-img {
                --size: 86px;
                img {
                    --size: 128px; 
                }
            }
            &-title {
                font-size: 22px;
            }
    
            &-description {
                line-height: 140%;
                font-size: 14px;
            }
        }
}
