.advantages {
    display: flex;
    justify-content: space-between;
    border-radius: 46px;
    padding: 36px 78px;
    max-width: 1029px;
    max-width: 962px;
    box-shadow: 0 25px 51px 0 rgba(0, 0, 0, 0.19);
    background: linear-gradient(230deg, #fff 3.94%, #e5e5e5 64.08%, #fbfbfb 88.62%);
    margin: 0 auto $section-margin;
    position: relative;

    .label {
        position: absolute;
        top: -42px;
        left: -42px;

        

        &::after {
            content: "";
            @include transform-centered;
            left: 20%;
            top: 150%;
            z-index: -3;
            width: 910px;
            height: 680px;
            background: url(./assets/img/template-decoration-green.png) center no-repeat;
        }
    }
}

.advantage {
   
    text-align: center;
    &::after {
        content: "";
        @include transform-centered;
        left: 90%;
        top: 70%;
        z-index: -1;
        width: 910px;
        height: 680px;
        background: url(./assets/img/template-decoration-white.png) center no-repeat;
    }

    &-img {
        --size: 148px;
        width: var(--size);
        height: var(--size);
        border-radius: 50%;
        margin: 0 auto 12px;
        background-image: $bg-gradient;
        box-shadow: 0 4px 41px rgb(0 0 0 / 39%);
        position: relative;
        img {
            --size: 160px;
            width: var(--size);
            min-width: var(--size);
            height: var(--size);
            object-fit: contain;
            @include transform-centered;
        }
    }
    
    &-title {
        font-size: 32px;
        font-weight: 500;
        color: $bg-body;
        margin-bottom: 4px;
    }
    
    &-description {
        color: $bg-body-secondary;
        font-weight: 400;
        line-height: 163.5%;
    }
}
