header{
	padding: 48px 0;
	background: #00aa6e;
	
	nav {
		background-color: #ffe4c4;
		
		a{
			color: #ff0000;
		}
	}
}

.footer {
	background-color: blue;
	padding: 48px 0;

	&-nav {
		background-color: #ffe4c4;
		
		&__item {
			color: blueviolet;
		}
	}
}