.header {
	padding: 48px 0;
	.container {
		--gap: 94px;
		gap: var(--gap);
		display: flex;
	}

	&-nav {
		gap: var(--gap);
		display: flex;

		&__item {
			color: $color-text;
			font-size: 20px;
            padding: 5px 0;

			&:hover {
				color: $secondary-color;
			}
		}
	}
}

.mobile-container {
	display: flex;
	align-items: center;
}

.btn-burger {
    --width: 42px;
    width: var(--width);
    margin-left: auto;
    position: relative;

    span {
        @include burger;

        &:before,
        &:after {
            @include burger;
            content: "";
        }

        &:before {
            top: 8px;
        }

        &:after {
            top: 17px;

        }
    }

    &.active{
        span {
            transform: rotate(-45deg) translate(-7px, 5px);


            &:before {
                opacity: 0;
                transform: rotate(90deg) translate(-15px, 0px);
            }

            &:after {
                transform: rotate(90deg) translate(-16px, 0px);
            }
        }
    }
}
