.template-content {
    --translate-y: 36px;
    --translate-x: 45px;
    padding: var(--translate-y);
    display: flex;
    gap: var(--translate-x);
    justify-content: space-between;

    &__img-box {
        position: relative;
        max-width: 465px;
        width: 100%;
        img {
            transform: translate(var(--translate-x), calc(var(--translate-y) * -1) );
            // clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
            mask: url(./assets/img/we-make___bg.svg) no-repeat;
        }
    
        .label {
            position: absolute;
            top: -35px;
            right: -15px;
            z-index: 1;
        }
    
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $primary-color;
            top: 0px;
            right: 0px;
            mask: url(./assets/img/we-make___bg.svg) no-repeat;
    
        }
    }

    &__info-box {
        max-width: 457px;
        width: 100%;
    }
}
