<section class="our-contacts">
    <div class="container">
        <div class="template-content column-reverso">
            <div class="template-content__info-box">
                <div class="template-title">
                    <h2 class="h1">Our <span class="text-gradient d-block">Contacts</span></h2>
                    <h6>Have time to buy the most harmonious drinks in the new Starbucks coffee and don't forget about the discount!</h6>
                </div>
                <div class="contacts-list">
                    <div class="contact-item"><a href="#"><img class="contact__icon" src="./assets/img/icon-instagram.png" alt="icon-insta">@supercoffee</a></div>
                    <div class="contact-item"><a href="tel:+380939999999"><img class="contact__icon" src="./assets/img/icon-phone.png" alt="icon-phone">+38-(093)-999-99-99</a></div>
                </div>
            </div>

            <div class="template-content__img-box reflection">
                <div class="label" style="--content: 'We have'"></div>
                <img src="./assets/img/we-make___clip-right1.png" alt="we-make___clip-right">
            </div>
        </div>
    </div>
</section>