<footer class="footer">
	<div class="footer-row">
        <a href="index.htm" class="logo">
            <img src="../assets/img/logo.svg" alt="logo">
        </a>
        <nav class="footer-nav">
            <div class="footer-nav__column">
                <h5>Main</h5>
                <ul class="footer-nav__list">
                    <li><a href="#" class="footer-nav__item">Buy</a></li>
                    <li><a href="#" class="footer-nav__item">More</a></li>
                </ul>
            </div>
            <div class="footer-nav__column">
                <h5>We make</h5>
                <ul class="footer-nav__list">
                    <li><a href="#" class="footer-nav__item">Process</a></li>
                </ul>
            </div>
            <div class="footer-nav__column">
                <h5>Products</h5>
                <ul class="footer-nav__list">
                    <li><a href="#" class="footer-nav__item">Cappuccino</a></li>
                    <li><a href="#" class="footer-nav__item">Fast</a></li>
                    <li><a href="#" class="footer-nav__item">Fast</a></li>
                </ul>
            </div>
            <div class="footer-nav__column">
                <h5>Events</h5>
                <ul class="footer-nav__list">
                    <li><a href="#" class="footer-nav__item">Drinks</a></li>
                    <li><a href="#" class="footer-nav__item">Eat</a></li>
                </ul>
            </div>
            <div class="footer-nav__column">
                <h5>Contacts</h5>
                <ul class="footer-nav__list">
                    <li><a href="#" class="footer-nav__item">Instagram</a></li>
                    <li><a href="#" class="footer-nav__item">Number</a></li>
                </ul>
            </div>
        </nav>
        <a href="#" class="btn btn-arrow">top</a>
    </div>
    <div class="footer-row">
        <a href="tel:+380939999999" class="footer-tel">+38-(093)-999-99-99</a>
        <a href="#" class="footer-inst">
            <img src="./assets/img/icon-insta.png" alt="icon-insta">
        </a>
    </div>
</footer>
<script async src="assets/js/custom.js"></script>
</body>
</html>