<header>
    <div class="container">
        <a href="index.htm" class="logo">
            <img src="" alt="">
        </a>
        
        <nav>
            <a href="#">Home</a>
            <a href="#">Select</a>
            <a href="#">Shop</a>
        </nav>
    </div>
</header>

<footer class="footer">
    <div class="container">
        <a href="index.htm" class="logo">
            <img src="" alt="">
        </a>
        
        <nav class="footer-nav">
            <a href="#" class="footer-nav__item">Home</a>
            <a href="#" class="footer-nav__item">Select</a>
            <a href="#" class="footer-nav__item">Shop</a>
        </nav>
    </div>
</footer>