<div class="modal">
    <div class="modal-body">
        <a href="#" class="btn btn-close"></a>
        <h2>Lorem, ipsum dolor.</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus nisi accusantium a corrupti reiciendis est itaque qui quasi asperiores voluptates pariatur illo minima impedit porro deserunt distinctio totam veniam, ipsa mollitia. Possimus architecto incidunt accusantium suscipit voluptatibus. Quasi suscipit maxime excepturi provident deserunt quos ipsum aspernatur iure cupiditate non, omnis dolorum modi nostrum at nulla ab. Itaque, impedit ipsam iste accusantium, perferendis minima ullam alias quam repudiandae ipsa nam iusto maxime, et non facere. Quod eveniet enim dolor maiores numquam architecto assumenda magnam, illum odit, accusamus ducimus, fugiat incidunt magni minus debitis reprehenderit quia quos perspiciatis rerum. Aliquid, adipisci veritatis!</p>
    <ul>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
    </ul>
    <div class="btn-row">
        <button class="btn btn-secondary">close</button>
        <button class="btn btn-primary">Ok</button>
    </div>
    </div>
</div>