<div id="cooking" class="modal modal-video" data-close-modal>
    <div class="modal-body">
        <a href="#" class="btn btn-close" data-close-modal></a>
        @@include('videoplayer.html')
    </div>
</div>

<div id="feedback" class="modal" data-close-modal>
    <div class="modal-body">
        <a href="#" class="btn btn-close" data-close-modal></a>
        <h2>feedback</h2>
   <ul>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
    </ul>
    <div class="btn-row">
        <button class="btn btn-secondary" data-close-modal>close</button>
        <button class="btn btn-primary" data-close-modal>Ok</button>
    </div>
    </div>
</div>

<div id="qwerty" class="modal" data-close-modal>
    <div class="modal-body">
        <a href="#" class="btn btn-close" data-close-modal></a>
        <h2>qwerty</h2>
    <p>Test modal for qwerty</p>
    <div class="btn-row">
        <button class="btn btn-secondary" data-close-modal>close</button>
        <button class="btn btn-primary" data-close-modal>Ok</button>
    </div>
    </div>
</div>